<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Hermanos</title>

    <link href="../assets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="../assets/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/administrador_hermanos.css">

    <style>

    </style>
</head>

<body class="d-flex px-0">
    <aside>

    </aside>
    <main>

        <h1 class="fs-2">Administrador de Hermanos</h1>

        <nav id="toolbar">
            <div class="search-bar mb-3 position-relative">
                <i class="fa-solid fa-magnifying-glass position-absolute text-secondary"></i>
                <input type="search" class="form-control" id="" placeholder="Buscar Hermano">
            </div>

            <div class="buttons">
                <button type="button" class="btn btn-dark"><i class="fa-solid fa-filter pe-2"></i> Filtros</button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-plus pe-2"></i> Añadir
                    Hermano</button>
                <button type="button" class="btn btn-danger d-none"><i class="fa-solid fa-trash pe-2"></i>
                    Eliminar</button>
            </div>

            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </nav>

        <div id="table">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" name="" class="main-checkbox"></th>
                        <th>Nombre</th>
                        <th>¿Hermano?</th>
                        <th>Lectura</th>
                        <th>Conversacion</th>
                        <th>Revisita</th>
                        <th>Curso</th>
                        <th>Discurso</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="table-row">
                        <td><input type="checkbox" class="checkbox-row"></td>
                        <td>Pau</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>
                            <div class="options-parent">
                                <button type="button" class="btn-options">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>

                                <div class="options">
                                    <button type="button"><i class="fa-solid fa-pen"></i> Editar</button>
                                    <button type="button"><i class="fa-solid fa-trash"></i> Borrar</button>
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr class="table-row">
                        <td><input type="checkbox" class="checkbox-row"></td>
                        <td>Pau</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>Si</td>
                        <td>
                            <div class="options-parent">
                                <button type="button" class="btn-options">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>

                                <div class="options">
                                    <button type="button"><i class="fa-solid fa-pen"></i> Editar</button>
                                    <button type="button"><i class="fa-solid fa-trash"></i> Borrar</button>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="../assets/bootstrap-5.3.2/js/bootstrap.min.js"></script>
    <script src="../assets/bootstrap-5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/administrador_hermanos.js"></script>
</body>

</html>