<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio App</title>

    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <h1 style="text-align: center;">Asignaciones del Reino</h1>

    <div class="botones">
        <button id="btn-generar">Generar Asignaciones</button>
        <button id="btn-hermanos">Base de datos</button>
        <button id="btn-hoja">Hoja de asignaciones</button>
    </div>
    <script src="../assets/js/index.js"></script>
</body>

</html>